<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../steel_registry/data_components/struct.DataComponentType.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../../steel_registry/data_components/struct.DataComponentType.html">../../../steel_registry/data_components/struct.DataComponentType.html</a>...</p>
    <script>location.replace("../../../steel_registry/data_components/struct.DataComponentType.html" + location.search + location.hash);</script>
</body>
</html>